# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Dataset
Dataset/

# Trainer
Trainer/

# Input Images
Input_Images/*
!Input_Images/.gitkeep

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db